
# Ambiente Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg
.eggs/

# Arquivos de ambiente
.env
.env.*

# Executáveis e builds
*.exe
*.zip
build/

# Logs
logs/
*.log

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Scripts de teste e build
bot_teste.py
teste_playwright.py
build_exe.py